replicaCount: 2

image:
  repository: dannymolnar/k8s-lab-demo-app
  tag: "v1"
  pullPolicy: IfNotPresent

service:
  port: 80

ingress:
  enabled: true
  host: demo.localtest.me
  path: /

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "128Mi"

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50

app:
  env: "dev"
  message: "Hello from demo-app on kind!"

secrets:
  apiKey: "super-secret-demo-key"
